
<form action="/departments/$department.getId()" method="post">

    <label for="title">Title: </label>
    <input type="text" name="title" id="title" required="true" value="$department.getTitle()">

    <input type="submit" value="Update" class="button"/>
</form>