
<form action="/departments/new" method="post">

    <label for="title">First Name: </label>
    <input type="text" name="title" id="title" required="true">

    <input type="submit" value="Save" class="button"/>
</form>