<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Model</title>
</head>
<header>
    <a href="/managers">Managers</a>
    <a href="/employees">Employees</a>
    <a href="/engineers">Engineers</a>
    <a href="/departments">Departments</a>
</header>
<body>
<h1> Employee Model</h1>
    <div class="container">
        #parse($template)
    </div>
</body>
</html>